*{ margin: auto;
  padding: 0%;
  box-sizing: border-box;
  outline: none;
}

header {
  background:#BF8F73;
  width: 100%;
}
.imagen1{
  background-color:transparent;
 
}
.text1{
  background-color:#BF8F73;
  display: block;
  text-align: center;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 100;
  font-style: italic, bold;
  justify-content: space-around;
}

.boton1 {
  background-color:transparent;
  display: block;
  flex-direction: row;
  text-align: end;

}
.banner {
  background-color: #F2EBD5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1%;
}


.lahistoria { 
  background-color: #BF8F73;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 10;
  font-style: italic, bold;
  
}

.proyec1{
  background-color: #8C5954;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 10;
  font-style: italic, bold;
}

footer {
  background-color: #3B3440;
}

.footerbar{
  background-color: transparent;
  text-align: center;
  width: 100px;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 10;
  font-style: italic, bold;
  display: flex;
 
}

.boton2{
  display: block;
  text-align: end;
}
.redes{
  display: block;
  background-color: transparent;
  text-align-last:right;
}